<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".LordSzolga"
            android:exported="false" />
        <activity
            android:name=".LordUjKatSzakma"
            android:exported="false" />
        <activity
            android:name=".LordUjEszkoz"
            android:exported="false" />
        <activity
            android:name=".HnoFeladatSzerkeszt"
            android:exported="false" />
        <activity
            android:name=".Hibajelentes"
            android:exported="false" />
        <activity
            android:name=".SzolgaMegkezdett"
            android:exported="false" />
        <activity
            android:name=".SzolgaIndoklas"
            android:exported="false" />
        <activity
            android:name=".SzolgaSajatFeladatok"
            android:exported="false" />
        <activity
            android:name=".LordEszkozLista"
            android:exported="false" />
        <activity
            android:name=".LordSzerkeszt"
            android:exported="false" />
        <activity
            android:name=".HnoFeladatok"
            android:exported="false" />
        <activity
            android:name=".SzolgaMainActivity"
            android:exported="false" />
        <activity
            android:name=".HnoMainActivity"
            android:exported="false" />
        <activity
            android:name=".LordMainActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>